body{
    min-height: 100vh;
}

/* grid areas */

header{
    grid-area: h;
    background-color: blueviolet;
    height: 4rem;
}

main, aside{
    height: 50rem;
}

main{
    grid-area: m;
    background-color: whitesmoke;
}

aside{
    grid-area: a;
    background-color: whitesmoke;
}

footer{
    grid-area: f;
    background-color: lightgray;
    height: 8rem;
}

/* grid layout template areas */

.grid-container{
    display: grid;
    grid-template-areas:
        "h h h h h h"
        "a m m m m m"
        "f f f f f f";
}